@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

/* * {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
} */

/* body {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,225,240,1) 50%);
	font-family: 'Open Sans', sans-serif;
} */

/* el container está en APP*/
/* .contenedor {
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
} */

/* .formulario {
	width: 388px;
  height: 256px;
	margin-top: 30px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
	justify-content: center;
} */

/* .formulario label {
	display: block;
  font-family: "Inter";
	font-weight: 400;
	font-size: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
  letter-spacing: 1.5px;
  text-transform: uppercase;
} */

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 356px;
  height: 40px;
	border-radius: 5px;
	border: 1px solid #F48FB1;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 5px;
	color: #8E8E8E;
}

h1{
  font-family: "Montserrat", "Open-sans";
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  font-weight: 300px;
  margin-bottom: 1rem;
}