@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
	padding: 0px;
	margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.propContainer {
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
}

form {
	width: 100%;
  height: 100%;
	margin-top: 2rem;
	background: #fff;
	border-radius: 5px;
	padding: 0px 120px;
  display: flex;
  flex-direction: column;
	align-content: center;
}


label {
	display: block;
	color: #373737;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 0.62rem;
	line-height: 0.75rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin: 0.5rem 0rem 0.5rem;
}

.address{
	width: 600px;
  height: 40px;
	color: #8E8E8E;
}

input, textarea {
	font-family: 'Montserrat';
	border-radius: 0.5rem;
	border: 1px solid #F48FB1;
	font-size: 1rem;
	padding: 0.31rem;
	color: #8E8E8E;
}

.currency{
	width: 356px;
	height: 40px;
}

.area{
	width: 120px;
	height: 40px;
}

.secondblock{
	display: flex;
	flex-direction: row;
	gap: 1rem; 
}

select{
	width: 120px;
	height: 36px;
	font-family: 'Montserrat';
	border-radius: 0.5rem;
	border: 1px solid #F48FB1;
	font-size: 1rem;
	text-align: center;
}

select:required:invalid {
  color: #8E8E8E;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: #8E8E8E;
}

textarea{
	gap: 0.5rem;
	width: 600px;
	height: 76px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 0.87rem;
	line-height: 1.25rem;
}

h1{
  font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.5rem;
	margin-bottom: 1rem;
}

h3{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h4{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 0.62rem;
	line-height: 0.75rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.4px;
	color: #8E8E8E;
}

.proptitle{
	margin-top: 1rem;
}

input, checkbox{
	border: 1px solid #F48FB1;
}

.checkboxes{
	display: flex;
	gap: 1rem;
}

.checks{
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.petbox{
	margin-bottom: 0.5rem;
}

.petcheck{
    display: flex;
    flex-direction: row;
		gap: 0.5rem;
}

.paratext{
    width: 600px;
    height: 76px;
    text-align: start;
    resize: none;
}

.photos{
	display: flex;
	flex-direction: column;
	margin: 1rem 0rem;
}

.subphotos{
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem 0rem 0.25rem 0rem;
	gap: 0.5rem;
}

.uploadbox{
	width: 600px;
	height: 136px;
	left: 0px;
	top: 668px;
	background: #F5F5F6;
	margin: 1rem 0rem;
}

.photobox{
	width: 120px;
	height: 120px;
	border-radius: 0.5rem;
	background: #E1E2E1;
	margin: 0.5rem;
	text-align: center;
	
}

.photoboxtext{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: center;
	letter-spacing: 0.4px;
	padding: 3.25rem 0.62rem;
}
