@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

body {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,225,240,1) 50%);
	font-family: 'Open Sans', sans-serif;
}

/* el container está en APP*/
.contenedor {
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;

}

.titles{
  text-align: center;
}

.subTitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.bigTitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 5rem;
}

.profilesCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.cards {
  width: 280px;
  height: 274px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.image{
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.cardTitle{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.cardSubtitle{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.25rem;
}
